.section {
  position: relative;
  padding: 9.6rem 0;
  overflow-x: clip;
  scroll-margin-top: 6.4rem;

  @include respond(tab-port) {
    padding: 8rem 0;
  }

  @include respond(phone) {
    padding: 6.4rem 0;
  }

  .container {
    width: min(100% - 9.6rem, $container-max);
    max-width: $container-max;
    min-width: 0;
    margin-right: auto;
    margin-left: auto;

    @include respond(tab-port) {
      width: min(100% - 6.4rem, $container-max);
    }

    @include respond(phone) {
      width: min(100% - 3.2rem, $container-max);
    }
  }
}
